body {
    font-family: Arial, sans-serif;
    background-color: #fa0000;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #000000;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    padding: 8px;
    width: 250px;
    border: 2px solid #0e00d6;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #210be4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7402;
}

.character-card {
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.character-card img {
    width: 70%;
    border-radius: 10px;
}
